.left_div {
    float: left;
    margin: left;
     width: 40%;
   /* min-height: 200px; */
    /* border: 1px solid; */
    padding: 20px 10px;
    text-align: justify;
    text-justify: inter-word;
}

.right_div {
    float: left;
    margin: left;
     width: 40%;
   /* min-height: 200px; */
    /* border: 1px solid; */
    padding: 20px 30px;
}

td {
    padding: 10px;
    text-align: left;
}